$bg: #111;
.row {
  background-color: $bg;
  padding: 1rem;
  h1 {
    font-weight: 400;
    margin: 0.3rem;
  }
  > div {
    display: flex;
    overflow-x: auto;
  }
}
.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 450ms;
  &:hover {
    transform: scale(1.1);
  }
}

.row_posterLarge {
  max-height: 250px;
  &:hover {
    transform: scale(1.09);
  }
}
