$bg: rgb(16, 16, 16);
.header {
  height: 100px;
  background-color: $bg;
  display: flex;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: space-between;

  > img {
    height: 100px;
  }
  > div {
    width: 100%;
    margin-left: 5px;

    > a {
      margin: 1vmax;
      font-size: 1.1rem;
      font-weight: 300;
    }
  }

  > svg {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    &:hover {
      color: #ffc107;
    }
  }
}
