@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
* {
  margin: 0%;
  padding: 0%;
  font-family: 'Roboto', sans-serif;
  &::-webkit-scrollbar {
    display: none;
  }
}
a,
h1 {
  color: #fff;
}

a {
  text-decoration: none;
}
