.nav {
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;
  display: flex;
  // background-color: #111;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: #111;
}
.nav_logo {
  position: fixed;
  left: 20px;
  width: 80px;
  object-fit: contain;
}
.nav_avater {
  position: fixed;
  right: 20px;
  width: 25px;
  object-fit: contain;
}
